h1 {
    display: flex;
    justify-content: center;
}

table {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    
}

td {
    border: 5px solid white;
    height: 40px;
    width: 40px;
    text-align: center;
    color:purple;
}

td:empty {
    background: black;
}

sup {
    position: absolute;
    color: black;
}

body {
    background-color: purple;
}