

h1 {
    display: flex;
    justify-content: center;
}

table {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    
}

td {
    border: #5e60ce;
    border-width: 5px;
    border-style: solid;
    height: 40px;
    width: 40px;
    text-align: center;
    color: purple;
}

td:empty {
    background: black;
}

sup {
    position: absolute;
    color: black;
}

body {
    background-color: purple; 
}

h2 {
    display: flex;
    justify-content: center;
}

ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-evenly;
    justify-content: space-around;
}


    

.kiddDiv {
    display: flex;
    justify-content: center;
   position: sticky;
   bottom: 0;
   z-index: -1;
   width: 100%;
}

